docs/*.html binary
docs/*/*.html binary
package-lock.json binary
static/bs-*.js binary
static/jsx-ppx.js binary
static/refmt.js binary
static/codemirror/lib/* binary
docs/descartes/descartes.js binary
docs/descartes/d3.v4.min.js binary
